.accentBackground{
    background: #ff6040;
    color: white;
}

.btnCustom:hover, .btnCustom:focus{
    background: #d54f35;
}

.responsiveColumnName{
    display: none;
}

.page-item.active .page-link{
    background-color: #d54f35;
    border-color: #d54f35;
}

.page-link {
    color: #d54f35;
}

.page-link:hover{
    color: #d54f35;
}

@media only screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
        box-sizing: border-box;
    }

    .table{
        border: none !important;
    }

    .table thead tr {
        display: none;
    }

    .table tr{
        padding-bottom: 1.5em;
    }

    .table tbody td {
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40%;
        text-align: left !important;
    }

    .responsiveColumnName{
        display: block;
        position: absolute;
        top: 15px;
        left: 20px;
        font-weight: bold;

    }

    .table-striped tbody tr:nth-of-type(odd) .responsiveColumnName{
        color: #d54f35;
    }
}
