{% extends "::base.html.twig" %}

{% block title %}AppBundle:Status:getStatuses{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <table class="table bg-light table-striped" style="border: solid 6px #ff6040">
                    <thead class="accentBackground">
                    <tr>
                        <th style="text-align: center; width: 33%">Locatie</th>
                        <th style="text-align: center; width: 33%">Datum</th>
                        <th style="text-align: center; width: 33%">Beoordeling</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if pagination.getTotalItemCount != 0 %}
                        {% for status in pagination %}
                            <tr>
                                <td style="text-align: center">{{ status.location.place }}<span
                                            class="responsiveColumnName">Locatie</span></td>
                                <td style="text-align: center">{{ status.date }}<span
                                            class="responsiveColumnName">Datum</span></td>
                                <td style="text-align: center">{{ status.status }}<span class="responsiveColumnName">Beoordeling</span>
                                </td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <tr class="text-center" ><td colspan="3">Geen statussen</td></tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



