{% extends "::base.html.twig" %}
{% block body %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">Bewerk technieker</div>
                    <div class="card-body">
                        <form class="form-horizontal" role="form" method="POST" action="{{ path('saveNewChanges',{ technician_id: id }) }}">
                            {% if error %}
                                <div class="alert alert-info">
                                    {{ error }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="firstname" class="control-label" >Technieker voornaam</label>

                                <div>
                                    <input id="firstname" type="text" class="form-control" value={{ firstname }} name="_firstname">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastname" class="control-label">technieker achternaam</label>

                                <div>
                                    <input id="lastname" type="text" value={{ lastname }} class="form-control" name="_lastname">
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btnCustom accentBackground btn-lg btn-block">
                                        <i class="fa fa-btn fa-sign-in"></i> Verzend
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}