
{% extends "::base.html.twig" %}

{% block title %}AppBundle:Technician:addTechnician{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}

{% endblock %}
