<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/app.css')}}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/778322d9ba.js"></script>
    <title>{% block title %}Web and mobile{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body style="background-color: #383a3b">
<nav class="navbar navbar-dark navbar-expand-lg d-flex " style="background-color: #333435">
    <a class="navbar-brand" href="#">Web and mobile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav">
            <li class="nav-item dropdown p-2">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"
                   aria-expanded="false" id="problemenDropdown">Problemen</a>
                <div class="dropdown-menu" aria-labelledby="problemenDropdown">
                    <a class="dropdown-item" href={{ path("getAllProblems") }}>Alle problemen</a>
                    <a class="dropdown-item" href={{ path("problemForm") }}>Probleem per plaats</a>
                </div>
            </li>
            <li class="nav-item dropdown p-2">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"
                   aria-expanded="false" id="problemenLokaal">Statussen</a>
                <div class="dropdown-menu" aria-labelledby="problemenLokaal">
                    <a class="dropdown-item" href={{ path("getAllStatuses") }}>Alle statusmeldingen</a>
                    <a class="dropdown-item" href={{ path("statusForm") }}>Statussen per plaats</a>
                </div>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown p-2">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"
                       aria-expanded="false" id="adminDropdown">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" href={{ path("editTechs") }}>bewerken technicus</a>
                        <a class="dropdown-item" href={{ path("createTechnician") }}> Voeg technicus toe</a>
                    </div>
                </li>
            {% endif %}

            {% if is_granted('ROLE_WERKBEHEERDER') %}
                <li class="nav-item p-2">
                    <a class="nav-link" href={{ path("getAllProblemsNoTech") }}>Toekennen probleem aan technicus</a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_TECHNICUS') %}
                <li class="nav-item dropdown p-2">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"
                       aria-expanded="false" id="adminDropdown">Technicus</a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" href={{ path("getYourProblems") }}>Toegewezen probleemmeldingen</a>
                        <a class="dropdown-item" href={{ path("getYourProblemsSolved") }}>Afgehandelde probleemmeldingen</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="ml-auto p-2 navbar-nav">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item ml-auto p-2">
                    <a class="nav-link" href={{ path("logout") }}><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
                </li>
            {% else %}
                <li class="nav-item ml-auto p-2">
                    <a class="nav-link" href={{ path("login") }}><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
