{% if pageCount > 1 %}
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if previous is defined %}
            <li class="previous page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
            {% else %}
                <li class="current active page-item">
                    <a class="page-link">{{ page }} <span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li class="next page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
    </nav>
{% endif %}