{% extends "::base.html.twig" %}

{% block title %}AppBundle:Technician:addTechnician{% endblock %}

{% block body %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <table class="table bg-light table-striped" style="border: solid 6px #ff6040">
                <thead class="accentBackground">
                <tr>
                    <th>Lokaal</th>
                    <th>Datum</th>
                    <th>Beschrijving</th>
                    <th>Status</th>
                    <th>Technieker</th>
                    <th>Foto</th>
                </tr>
                </thead>
                <tbody>
                {% if problems %}
                    {% for problem in problems %}
                        <tr>
                            <td>{{ problem.getLocation.place }}<span class="responsiveColumnName">Lokaal</span></td>
                            <td><span class="responsiveColumnName">Datum</span>{{ problem.date }}</td>
                            <td><span class="responsiveColumnName">Beschrijving</span>{{ problem.description }}</td>
                            {% if problem.status == 0 %}
                                <td><span class="responsiveColumnName">Status</span>NIET AFGEHANDELD</td>
                            {% else %}
                                <td><span class="responsiveColumnName">Status</span>AFGEHANDELD</td>
                            {% endif %}
                            {% if problem.technician %}
                                <td>
                                    <span class="responsiveColumnName">Technieker</span>{{ problem.getTechnician.getFullName }}
                                </td>
                            {% else %}
                                <td>GEEN<span class="responsiveColumnName">Technieker</span></td>
                            {% endif %}
                            <td>{{ problem.picture }}<span class="responsiveColumnName">Foto</span>x</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h1 class="text-center">Geen problemen</h1>
                {% endif %}
                </tbody>
            </table>

            <h1 class="text-center" style="color: white">Techniekers :</h1>
            <h5 class="text-center" style="color: white">Er wordt automatisch een email verstuurd naar de gekozen technieker</h5>
            <table class="table bg-light table-striped" style="border: solid 6px #ff6040">
                <thead class="accentBackground">
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Beheer</th>
                </tr>
                </thead>
                <tbody>
                {% for prob in problems %}
                    {% for tech in technicians %}
                        <tr>
                            <td>{{ tech.firstname }}<span class="responsiveColumnName">Voornaam</span></td>
                            <td>{{ tech.lastname }}<span class="responsiveColumnName">Achternaam</span></td>
                            <td>
                                <a href="{{ path('addSelectedTechToProblem',{ technician_id: tech.id, problem_id:prob.id }) }}"
                                   class="btn btnCustom accentBackground" role="button">Add technician</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
