{% block body %}
    <h2>Er is een nieuw probleem aan u toegewezen</h2>
    <div>
        <div style=" margin-bottom: 20px">
            <span style="color: #636363"><b>Lokaal:</b></span>
            <span>{{ problem.getLocation.place }}</span>
        </div>
        <div style="margin-bottom: 20px">
            <span style="color: #636363"><b>Datum:</b></span>
            <span>{{ problem.date }}</span>
        </div>
        <div style="margin-bottom: 20px">
            <span style="color: #636363"><b>Omschrijving:</b></span>
            <span>{{ problem.description }}</span>
        </div>
    </div>
    <p style="color: darkred;"><a href="{{ url('getAllProblems') }}">Bekijk het probleem op de website</a></p>
{% endblock %}
