{% extends "::base.html.twig" %}

{% block body %}

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <table class="table bg-light table-striped" style="border: solid 6px #ff6040">
                    <thead  class="accentBackground">
                    <tr>
                        <th style="text-align: center; width: 33%">Voornaam</th>
                        <th style="text-align: center; width: 33%">Naam</th>
                        <th style="text-align: center; width: 33%">Beheer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if pagination.getTotalItemCount != 0 %}
                        {% for tech in pagination %}
                            <tr>
                                <td style="text-align: center">{{ tech.firstname }}<span class="responsiveColumnName">Voornaam</span></td>
                                <td style="text-align: center">{{ tech.lastname }}<span class="responsiveColumnName">Naam</span></td>
                                <td style="text-align: center"><a href="{{ path('removeTechFromDb',{ technician_id: tech.id }) }}"
                                       class="btn btnCustom accentBackground"
                                       role="button">Verwijder technicus</a>
                                    <a href="{{ path('editTechnician',{ technician_id: tech.id }) }}"
                                       class="btn btn-warning"
                                       role="button">Wijzig technicus</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="text-center" ><td colspan="3">Geen techniekers</td></tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
