{% extends "::base.html.twig" %}

{% block body %}

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <table class="table bg-light table-striped" style="border: solid 6px #ff6040">
                    <thead class="accentBackground">
                    <tr>
                        <th>Locatienaam</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if locs %}
                        {% for locatie in locs %}
                            <tr>
                                <td>{{ locatie.place }}<span class="responsiveColumnName">Lokaal</span></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
