{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form class="form-horizontal" role="form" method="POST" action="{{ path('security_login_check') }}">
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error.messageKey|trans(error.messageData) }}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="email" class="control-label">E-Mail adres</label>

                                <div >
                                    <input id="email" type="email" class="form-control" name="_email" value="{{ last_username }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="control-label">Wachtwoord</label>
                                <div>
                                    <input id="password" type="password" class="form-control" name="_password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-lg btn-block accentBackground btnCustom">
                                        <i class="fa fa-btn fa-sign-in"></i> Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}