{% extends 'base.html.twig' %}



{% block body %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">Registreer</div>
                <div class="card-body">
                        {{ form_start(form) }}
                        <div class="form_group">
                            <div>
                                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form_group">
                            <div>
                                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form_group">
                            <div>
                                {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form_group">
                            <div>
                                {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div style="margin-top:10px;">
                                <button type="submit" class="btn btn-lg btn-block accentBackground btnCustom">
                                    <i class="fa fa-btn fa-user"></i> Register
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}