body {
    background-color: #d9d9d9;
}

#main {
    padding: 0 5%;
}

.lightBackground {
    background-color: white;
    padding: 2% 3%;
}

@media only screen and (max-device-width: 667px){
    body {
        background-color: white;
    }
    .xsCenterText{
        text-align: center;;
    }

    #dayPlanning{
        border-left: none !important;
    }
    .statusRadioButton{
        width: 100% !important;
    }
}
