{% extends "::base.html.twig" %}
{% block body %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <table class="table bg-light table-striped" style="border: solid 6px #ff6040">
                    <thead class="accentBackground">
                    <tr>
                        <th>Lokaal</th>
                        <th>Datum</th>
                        <th>Beschrijving</th>
                        <th>Status</th>
                        <th>Technieker</th>
                        <th>Foto</th>
                        {% if is_granted('ROLE_TECHNICUS') %}
                            <th>Probleem status</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if pagination.getTotalItemCount != 0 %}
                    {% for problem in pagination %}
                            <tr>
                                <td>{{ problem.getLocation.place }}<span class="responsiveColumnName">Lokaal</span></td>
                                <td><span class="responsiveColumnName">Datum</span>{{ problem.date }}</td>
                                <td><span class="responsiveColumnName">Beschrijving</span>{{ problem.description }}</td>
                                {% if problem.status == 0 %}
                                    <td><span class="responsiveColumnName">Status</span>NIET AFGEHANDELD</td>
                                {% else %}
                                    <td><span class="responsiveColumnName">Status</span>AFGEHANDELD</td>
                                {% endif %}
                                {% if problem.technician %}
                                    <td>
                                        <span class="responsiveColumnName">Technieker</span>{{ problem.getTechnician.getFullName }}
                                    </td>
                                {% else %}
                                    <td>GEEN<span class="responsiveColumnName">Technieker</span></td>
                                {% endif %}
                                {% if is_granted('ROLE_TECHNICUS') and problem.picture %}
                                    <td><a href="{{ path('addImage',{ problem_id: problem.id }) }}"
                                           class="btn btnCustom accentBackground"
                                           role="button">Ken image toe</a></td>
                                {% elseif is_granted('ROLE_TECHNICUS') and problem.picture != null %}
                                    <TD>{{ problem.picture }}</td>
                                {% endif %}

                                {% if is_granted('ROLE_TECHNICUS') and problem.status == 0 and problem.technician == false %}
                                    <td><a href="{{ path('addSignedInTechToProblem',{ problem_id: problem.id }) }}"
                                           class="btn btnCustom accentBackground"
                                           role="button">Ken probleem toe</a></td>
                                {% elseif is_granted('ROLE_TECHNICUS') and problem.status == 0 %}
                                    <TD>//TODO</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="text-center" ><td colspan="7">Geen problemen</td></tr>
                    {% endif %}

                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
