{% extends "::base.html.twig" %}
{% block body %}
        <div class="container-fluid mt-4">
                <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-1">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>
                </div>
        </div>
{% endblock %}