{% extends "::base.html.twig" %}
{% block body %}

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                        <div class="card-header">Zoek Locatie : </div>
                    <div class="card-body">
                        <form class="form-horizontal" role="form" method="POST" action="{{ path('validateLocation') }}">
                            {% if error %}
                                <div class="alert alert-info">
                                    Geen geldige locatie. Vind alle geldige locaties <a href={{ path("getLocs") }}>hier!</a>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="loc" class="control-label">Lokaal:</label>

                                <div>
                                    <input id="_place" type="text" class="form-control" name="_place">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btnCustom accentBackground btn-lg btn-block">
                                        <i class="fa fa-btn fa-sign-in"></i> Zoek
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}